<!DOCTYPE html>
{% include 'includes/head.html' %}

    <title>{% block title %} {% endblock %}: Simple Todo App</title>


    {% block stylesheet %} {% endblock %}

</head>
<body>

    <!-- ################### -->
    <!-- header (if a common header is suited throughout the project) -->
    <!-- then include the base-header file here -->
    <!-- ################### -->

    <!-- header -->
    <!-- (When sperate multiple headers are needed according to the necessity of the pages) -->
    {% block headerContent %} {% endblock %}

    <!-- modal -->
    {% block modalContent %} {% endblock %}

    <div class="container mt-5 mb-4">
        {% block content %} {% endblock %}
    </div>

{% include 'includes/footer.html' %}
